body{
    background-color: #201E43;
color: #EEEEEE;
}
h1{
    text-align: center;
}
i{
    color: #508C9B;
}
.add{
    margin-bottom: 50px;
    width: 150px;
}
table{
    width: 50;
}